VITE_API_BASE_URL=https://example.com/api/v1
VITE_SITE_NAME=example
VITE_FOOTER_LINK_1_LABEL=Terms
VITE_FOOTER_LINK_1_URL=https://example.com/terms
VITE_FOOTER_LINK_2_LABEL=Privacy
VITE_FOOTER_LINK_2_URL=https://example.com/privacy
VITE_SECURITY_ENABLED=false
VITE_SECURITY_PASSWORD=
VITE_SECURITY_PATH_PREFIX=/api/v1
VITE_CLIENT_DOWNLOAD_IOS=#
VITE_CLIENT_DOWNLOAD_ANDROID=#
VITE_CLIENT_DOWNLOAD_MACOS=#
VITE_CLIENT_DOWNLOAD_WINDOWS=#
VITE_CLIENT_DOWNLOAD_LINUX=#
